@import 'shared-style.sass'

html
    font-size: 16px
body
    margin: 0
    padding: 0 0
    color: black
    font-family: "Lato", Arial
    background: $light

.offline-warning
    position: relative
    padding: 25px 30px
    color: #f0f0f0
    background: firebrick

.img-fluid
    max-width: 100%
    height: auto

.main-page
    background: $light-grey
    min-height: calc(100vh - 90px)
    padding-bottom: 40px

.blogs-list 
    & &__item
        display: flex
        &:nth-child(3n) .blog-card
            border-right: none
        &:nth-last-child(-n + 3) .blog-card
            border-bottom: none